---
const props = Astro.props;
const alt = props.alt || "";
const icon = props.icon || "";
const href = props.href || "";
const site = props.site || "";
const isActive = site.toLowerCase() === alt.toLowerCase();
---

    <a href={href} class="group rounded-full p-4 hover:bg-gray-800 hover:scale-125 transition-all duration-300 flex flex-col items-center">
        <img src={icon} alt={alt} width={24} height={24} class="transition-all duration-300 hover:scale-120 hover:rotate-12 invert"/>
        <div class="absolute bottom-0 left-0 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 text-xs text-gray-100">
            <p class="font-bold text-center">{alt}</p>
        </div>
        {
            isActive && (
                <span class="font-bold text-center opacity-100 text-red-400">{alt}</span>
            ) || (
                <span class="font-bold md:text-sm text-xs text-center text-white ">{alt}</span>
            )
        }
    </a>